<!-- 
<div class="footer">
    <span>&#169</span> misashri developers
</div> -->


<div class='applnContainer'>
    <!-- <div class='row header' *ngIf="!hasRoute('login') && !hasRoute('resetPwd') && !hasRoute('createPwd')">
        <app-header></app-header>
    </div>
    <div class='row content '>
        <div class='col-md-1 left'>
            <div class="leftNav" *ngIf="!hasRoute('login') && !hasRoute('resetPwd') && !hasRoute('createPwd')">
                <app-left-nav></app-left-nav>
            </div>
        </div>
        <div class='col-md-11 right' style='margin-top: 1.5em;'>
            <router-outlet>

            </router-outlet>
        </div>
    </div> -->
    <div class='row main footer'>
        <div class="footerView">
            <i class="fa fa-copyright" aria-hidden="true"></i>©MISASHRI DEVELOPERS...
            <p style="font-family: Papyrus, sans-serif; font-size:10px">since 2020</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>