/* FONT IMPORTED */


/* Fira Sans */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.background {
    background-color: #ffffff;
    max-width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    position: absolute; //fixed
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .logoImg {
//     position: absolute;
//     top: 15%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
// }
.logoText {
    // position: absolute;
    // // font-family: OfficinaSerifITCTTBold, sans-serif;
    // // position: absolute;
    // // padding: 100px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
    // top: 21%;
    // left: 51%;
    // transform: translate(-50%, -50%);
    // text-align: center;
    font-size: 15px;
    letter-spacing: 8.55px;
    color: #585858;
    opacity: 0.6;
}

img {
    image-rendering: auto;
    color: #2b2a2a;
}

.genreCardBg {
    background: rgba(29, 28, 26, 0.3);
}

.genreCardBorder {
    border-radius: 0%;
    border: 1px solid black;
}

.genreCardContent {
    // opacity: 1 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #000000;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}


/** HEADER */


/** NAVIGATION BAR */